<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Form Wizard
    </ion-title>
  </ion-toolbar>
</ion-header>

<br>
<br>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>View All Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-label>Full Name</ion-label>
          {{ name}}
        </ion-item>
        <ion-item>
          <ion-label>Address</ion-label>
          {{ address }}
        </ion-item>
        <ion-item>
          <ion-label>Country</ion-label>
          {{ country }}
        </ion-item>
        <ion-item>
          <ion-label>Telephone Number</ion-label>
          {{ tele }}
        </ion-item>
        <ion-item>
          <ion-label>City</ion-label>
          {{ city }}
        </ion-item>
        <ion-item>
          <ion-label>Salary</ion-label>
          {{ salary }}
        </ion-item>
        <ion-item>
          <ion-label>Company</ion-label>
          {{ company }}
        </ion-item>



      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
